body {
  margin: auto;
  max-width: 60em;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0 .5em;
}

img {
    float: right;
    margin-right: 8em;
}

.title {
  background: rgb(223, 136, 201);
  font-weight: bold;
  padding: 1em 1em;
  font-size: 2em;  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}