{{ message }}

<h1> {{ title }} </h1>
<p>
<i>Vaikeusaste: {{ level }} (1 = helppo, 2 = keskitaso, 3 = vaikea)</i>
<p>
<i>Aihealue: {{ keyword }}</i>
<p>
<i>Kuvaus: {{ description }}</i>
<p>
{{ content }}
<p>
<hr>
<ol>
{% for question in questions %}
    <li>kysymys: {{ question[1] }} </li>
    <!--<ul>
    {% for choice in choices %}
        <li>{{ choice[1] }} </li>
    {% endfor %}
    </ul>-->
{% endfor %}
</ol>
<hr>
<a href="/courses/{{ id }}/newquestion">Luo uusi kysymys</a>
<p>
<a href="/welcome">Takaisin</a>