{% extends "layout.html" %}
{% block title %}Kurssisivu{% endblock %}
{% block content %}
<nav>
  <ul>
    <li><a href="/welcome">Etusivu</a></li>
    <li><a href="/logout">Kirjaudu ulos</a></li>
  </ul>
</nav>

<h2> {{ title }} </h2>
<p>
<i>Vaikeusaste: {{ level }} (1 = helppo, 2 = keskitaso, 3 = vaikea)</i>
<p>
<i>Aihealue: {{ keyword }}</i>
<p>
<i>Kuvaus: {{ description }}</i>
<p>
{{ content }}
<p>
<hr>
<ol>
{% for question in questions %}
    <li>kysymys: {{ question[1] }}
      <p>
      <a href="/courses/{{ id }}/question/{{ question[0] }}">Vastaa</a>
      <br>
    </li>
{% endfor %}
</ol>
<hr>
{% if status == True %}
<a href="/courses/{{ id }}/newquestion">Luo uusi kysymys</a>
<p>
<br>
<br>
<br>
      <form action="/deletecourse" method="POST">
          <input type="hidden" name="course_id" value="{{ id}}">
          <input type="submit" value="Poista kurssi">
      </form>
<p>
{% endif %}


{% endblock %}