<title>Opetussovellus</title>
<h1>Etusivu</h1>
<b>Tervetuloa</b> <i>opetussovellukseen</i>!
{% if session.user_id %}
    <p>
    <a href="/welcome">Takaisin omalle etusivulle</a>
    <p>
    tai
    <p>
    <a href="/logout">Kirjaudu ulos</a>
{% else %}
    <p>Kirjaudu sisään tai <a href="/register">rekisteröidy käyttäjäksi</a></p>

    <br>
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    <br>
    <p>
{% endif %}
