{% extends "layout.html" %}
{% block title %}Kurssisivu{% endblock %}
{% block content %}

<nav>
    <ul>
      <li><a href="/welcome">Etusivu</a></li>
      <li><a href="/logout">Kirjaudu ulos</a></li>
      <li><a href="/courses/{{ id }}">Takaisin kurssisivulle</a></li>
    </ul>
</nav>
<h2>{{ question }}</h2>
<form action="/courses/{{ id }}/question/{{ question_id }}" method="POST">
{% for choice in choices %}
<p>
<input type="checkbox" name="answer" value="{{ choice[0] }}"> {{ choice[1] }}
{% endfor %}
<p>
{% if allow %}
<input type="submit" value="Lukitse vastaus">
{% else %}
<b>Esikatselutila: et voi lähettää vastausta</b>
{% endif %}
</form>

{% endblock %}