<title>Opetussovellus</title>
<h1>Etusivu</h1>
<b>Tervetuloa</b> <i>opetussovellukseen</i>!
<p><a href="/">Kirjaudu sisään</a> tai rekisteröidy käyttäjäksi</p>

<form action="/register" method="POST">
Rekisteröidy:
<p>
Etunimi: <input type="text" name="firstname">
<p>
Sukunimi: <input type="text" name="lastname">
<p>
Olen
<p>
<input type="radio" name="status" value="opettaja"> opettaja
<input type="radio" name="status" value="oppilas"> oppilas
<!--<input type="radio" name="status" value="ylläpitäjä"> ylläpitäjä-->
<p>
Valitse käyttäjätunnus: <input type="text" name="username">
<p>
Valitse salasana: <input type="password" name="password">
<p>
<input type="submit" value="Lähetä">
</form>