{% extends "layout.html" %}
{% block title %}Käyttäjän tiedot{% endblock %}
{% block content %}
<nav>
    <ul>
      <li><a href="/welcome">Etusivu</a></li>
      <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>
</nav>

<h2>Käyttäjän tiedot</h2>
<p>
Etunimi: {{ firstname }}
<br>
Sukunimi: {{ lastname }}
<br>
Käyttäjätunnus: {{ username }}
<br>
Status: {{ status }}
<br>
<br>
{% if allow == True and (not id == 1) %}
<form action="/deleteuser" method="POST">
    <input type="hidden" name="user_id" value="{{ id }}">
    <input type="submit" value="Poista käyttäjä">
</form>
{% endif %}

{% endblock %}
