{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
    <h2>Moikka ylläpitäjä {{ name }}!</h2>
    <br>
    Kurssit:
    <ul>
        {% for course in courses %}
        <li>{{ course[1] }} <a href="/courses/{{ course[0] }}">Kurssisivulle</a> </li>
        <br>
        <form action="/deletecourse" method="POST">
            <input type="hidden" name="course_id" value="{{ course[0] }}">
            <input type="submit" value="Poista kurssi">
        </form>
        <p>
        {% endfor %}  
    </ul>
    <p>
    Käyttäjät:
    <ul>
        {% for user in users %}
            <li>{{ user[1] }} {{ user[2] }}, {{ user[5] }} <a href="/showuser/{{ user[0] }}">Muokkaa</a>
                <br></li>
        {% endfor %}
    </ul>
    <br>
    <img src="static/admin.png" width="250">
    <br>
    <a href="/logout">Kirjaudu ulos</a>
{% endblock %}