<title>Opetussovellus</title>

<h1>Moikka ylläpitäjä {{ name }}!</h1>

<br>
Toiminnot:
<ul>
    <li>Hae kursseja</li>
    <li>Selaa käyttäjiä</li>
</ul>
Kurssit:
<ul>
    {% for course in courses %}
    <li>{{ course[1] }} <a href="/courses/{{ course[0] }}">Kurssisivulle</a> </li>
    {% endfor %}
    </ul>
</ul>
<p>
Käyttäjät:
    <ul>
    {% for user in users %}
        <li>{{ user[1] }} {{ user[2] }}, {{ user[5] }}</li>
    {% endfor %}
    </ul>
</ul>

<br>
<img src="static/iiris.png" width="250">
<br>
<a href="/logout">Kirjaudu ulos</a>