<title>Opetussovellus</title>

<h1>Moikka oppilas {{ name }}!</h1>
<p>
<a href="/showuser/{{ id }}">Omat tiedot</a>
<p>
Omat kurssini:
<ul>
    {% for course in mycourses %}
    <li>{{ course[1] }} <a href="/courses/{{ course[0] }}">Kurssisivulle</a>    
    <br>
    <form action="/leave" method="POST">
        <input type="hidden" name="course_id" value="{{ course[0] }}">
        <input type="submit" value="Poistu kurssilta">
    </form>
    <p>
    </li>
    {% endfor %}
</ul>

Saatavilla olevia kursseja: 

<ul>
    {% for course in courses %}
    <li>{{ course[1] }} 
    <br>
    <i>{{ course[2] }}</i>
    <br>
    <form action="/join" method="POST">
        <input type="hidden" name="course_id" value="{{ course[0] }}">
        <input type="submit" value="Liity kurssille">
    </form>
    <p>
    </li>
    {% endfor %}
</ul>
<p>

<br>
<img src="static/oppilas.png" width="250">
<br>
<a href="/logout">Kirjaudu ulos</a>