{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
    <nav>
      <ul>
        <li><a href="/showuser/{{ id }}">Omat tiedot</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
      </ul>
    </nav>
    <img src="static/oppilas.png" width="250">
    <h2>Moikka oppilas {{ name }}!</h2>
    <p>
    <b>Omat kurssini:</b>
    <ul>
        {% for course in mycourses %}
        <li>{{ course[1] }} <a href="/courses/{{ course[0] }}">Kurssisivulle</a>    
        <form action="/leave" method="POST">
            <input type="hidden" name="course_id" value="{{ course[0] }}">
            <input type="submit" value="Poistu kurssilta">
        </form>
        </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <br>
    <b>Saatavilla olevia kursseja: </b>
    <ul>
        {% for course in courses %}
        <li><b>{{ course[1] }} </b><br>
        Kuvaus: <i>{{ course[2] }}</i><br>
        Vaikeusaste: <i>{{ course[3] }}</i><br>
        Aihealue: <i>{{ course[5] }}</i><br>
        <form action="/join" method="POST">
            <input type="hidden" name="course_id" value="{{ course[0] }}">
            <input type="submit" value="Liity kurssille">
        </form>
        </li>
        {% endfor %}
    </ul>

{% endblock %}