{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<nav>
    <ul>
      <li><a href="/showuser/{{ id }}">Omat tiedot</a></li>
      <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>
</nav>
<img src="static/opettaja.png" width="250">
<h2>Moikka opettaja {{ name }}!</h2>
<p>
<br>
<a href="/new">Luo kurssi</a></li>
<p>
Omat kurssini:
<ul>
    {% for course in courses %}
    <li>{{ course[1] }} 
      <a href="/courses/{{ course[0] }}">Kurssisivulle</a>
      <a href="/courses/{{ course[0] }}/students">Opiskelijat</a>  
    </li>
    <p>
    {% endfor %}
</ul>

{% endblock %}